@import "tailwindcss";
@import "@nuxt/ui";

/* rentacar-main */
@import './rentacar-main/typography.css';
@import './rentacar-main/base.css';
@import './rentacar-main/category.css';
@import './rentacar-main/reservation-resume.css';
@import './rentacar-main/blog.css';

/* vendor */
@import "./vendor/vue-tel-input.css";
